.btn-container {
  display: flex;
  justify-content: center;
}
.btn {
  background-color: #fabc3f;
  color: white;
  border: rounded;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px;
  font-size: 20px;
  width: 250px;
  margin-top: 10px;
}
