.input_container {
  margin-top: 5px;
  margin-bottom: 5px;
}
.input_label {
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin: 0;
}

.input_design {
  margin: 0.25rem 0;
  padding: 1rem;
  border-radius: 0.25rem;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
}

.input_design:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: yellow;
}
