.register_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.5rem;
}

.register_from {
  /* Slightly lighter for contrast */
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  max-width: 420px;
  width: 100%;
  /* background-color: #2c2c2c; */
}

.register_header {
  /* color: #ffcc00; Bold yellow header */
  text-align: center;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.form_container {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
}

input {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0.85rem;
  font-size: 1rem;
  color: #333;
  transition: all 0.3s ease;
}

input:focus {
  border-color: gray; /* Yellow border focus */
  box-shadow: 0 0 6px gray;
}

button {
  /* background: linear-gradient(
    90deg,
    #ffcc00,
    #ff9900
  ); Gradient yellow button */
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.9rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
  /* background: linear-gradient(90deg, #ff9900, #ffcc00); Reverse gradient */
  transform: translateY(-3px); /* Subtle lift */
}

button:disabled {
  /* background: #ffdd80; */
  color: #666;
  cursor: not-allowed;
}

.account-prompt {
  margin-top: 1.5rem;
  text-align: center;
}

.redirect-message {
  font-size: 0.9rem;
  color: black;
}

.login_link {
  color: #ffcc00;
  font-weight: bold;
  text-decoration: none;
}

.login_link:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .register_from {
    padding: 2rem;
  }

  .register_header {
    font-size: 1.75rem;
  }
}
